.searchFieldContainer {
	display: inline-block;
	margin-bottom: 20px;
}
.searchField {
	width: 300px;
}
@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {
	.searchField {
		width: 80%;
	}
}
