.signInformContainer {
	display: inline-block;
	margin-top: 20px;
	padding: 20px 30px;
	background-color: white;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	border-radius: 7px;
	position: absolute;
	top: 50%;
	transform: translateY(-100%) translateX(-50%);
	left: 50%;
}
.formField {
	margin-bottom: 20px;
}
.formTitle {
	margin-top: 0;
}
/* desctop */
@media (min-width: 1281px) {
}
/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
	.signInformContainer {
		min-width: 250px;
	}
}
